<div id="social-button-container">
<!-- 	<a href="#" ng-click="testing()" class="social-button-facebook">Facebook</a>
	<a href="#" ng-click="testing()" class="social-button-twitter">Twitter</a>
</div> -->
<div class="sd-content">
	<ul>
		<li class="share-facebook">
			<a rel="nofollow" data-shared="sharing-facebook-3" class="share-facebook sd-button share-icon" href="http://www.techtalk.web.id/yang-baru-dari-nodejs/?share=facebook" target="_blank" title="Bagikan pada Facebook">
				<span>Facebook</span>
			</a>
		</li>
		<li class="share-twitter">
			<a rel="nofollow" data-shared="sharing-twitter-3" class="share-twitter sd-button share-icon" href="http://www.techtalk.web.id/yang-baru-dari-nodejs/?share=twitter" target="_blank" title="Klik untuk berbagi pada Twitter">
				<span>Twitter</span>
			</a>
		</li>
		<li class="share-google-plus-1">
			<a rel="nofollow" data-shared="sharing-google-3" class="share-google-plus-1 sd-button share-icon" href="http://www.techtalk.web.id/yang-baru-dari-nodejs/?share=google-plus-1" target="_blank" title="Klik untuk berbagi via Google+">
				<span>Google</span>
			</a>
		</li>
		<li class="share-pinterest">
			<a rel="nofollow" data-shared="sharing-pinterest-3" class="share-pinterest sd-button share-icon" href="http://www.techtalk.web.id/yang-baru-dari-nodejs/?share=pinterest" target="_blank" title="Klik untuk berbagi pada Pinterest">
				<span>Pinterest</span>
			</a>
		</li>
		<li class="share-linkedin">
			<a rel="nofollow" data-shared="sharing-linkedin-3" class="share-linkedin sd-button share-icon" href="http://www.techtalk.web.id/yang-baru-dari-nodejs/?share=linkedin" target="_blank" title="Klik untuk berbagi di Linkedln">
				<span>LinkedIn</span>
			</a>
		</li>
		<li class="share-end"></li>
	</ul>
</div>
</div>